.wrapper{
    width: 100%;
    height: 60px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
display: flex;
justify-content: center;

}
.inner{
    height: 100%;
    width: 1150px;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search-title{
    font-size: 300;
    color: #7c7c7c;
    padding-left: 20px;
    font-weight: 500;
}
.search , .search-result{
    width: 361px;
}

.search{
    position: relative;
    display: flex;

height: 46px;
border-radius: 92px;
padding-left:16px;
background-color: #eeeded;

    input{
        height: 100%;
        color: #828282;
        font-size: 1.6rem;
        border: none;
        background-color: transparent;
        outline: none;
        flex: 1;
    }
    &:focus-within{
        border: 2px solid #dddddd;
    }
}
.clear,.loading{
border: none;
color: #b5b5b5;
position: absolute;
right: 52px;
top: 50%;
transform: translateY(-50%);
padding-right: 16px;
}

.search-btn{
width: 52px;
height: 100%;
border: none;
outline: none;
border-radius: 92px;
font-size: 1.9rem;
color:#ada9a9 ;

}
.search-btn:hover{
    cursor: pointer;
    background-color:#e0e0e0;
}