.menu-list{
 
    width: 210px;
    .menu-item{
        margin-left: 0;
        padding: 8px 8px 8px 0;
    }
}
.menu-item{
    width: 100%;
   display: flex;
   font-weight: 600;
   font-size: 1.6rem;
    &:hover{
        background-color: rgba(22,24,35,0.03);
    }
}